@model IEnumerable<MvcGlAtelier2023.Models.Personne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrenomPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdressePers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelPers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrenomPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdressePers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelPers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPers }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPers }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPers })
        </td>
    </tr>
}

</table>
